@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  z-index: 1;
  width: 100%;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(250, 98%, 61%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 90% 100%,
      hsla(250, 98%, 61%, 1) 0px,
      transparent 50%
    );
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  opacity: 0.10;
}

form label {
  display: flex;
  flex-direction: column;
}

form label span {
  font-size: 1.3rem;
  font-weight: 600;
  color:rgb(80, 80, 80)
}

@layer utilities {
  .btn {
    @apply font-semibold py-3 px-3 sm:py-3 sm:px-5 rounded-full transition-all
  }

  .normalBtn {
    @apply btn bg-indigo-500 hover:bg-indigo-400 text-white 
  }

  .redBtn {
    @apply btn bg-red-500 hover:bg-red-400 text-white 
  }

  .transparent-normal-btn {
    @apply btn border-2 border-indigo-500 text-indigo-500 hover:bg-indigo-500 hover:text-white
  }

  .textTitle {
    @apply text-5xl font-bold sm:text-6xl 
  }

  .text-indigo-gradient {
    @apply bg-gradient-to-r from-indigo-500 to-indigo-700 bg-clip-text text-transparent
  }

  .input-type-text {
    @apply  bg-slate-100 p-2 px-4 rounded-2xl max-w-xl border-2 border-slate-200 focus:border-indigo-400 focus:outline-none focus:ring-0
  }

  .error-message {
    @apply text-red-500 text-sm
  }
}
